* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  background-color: #fdd8d0;
  padding: 30px;
  position: relative;
  text-align: center;
}

#date {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  font-family: 'Chivo', sans-serif;
}

#logoAda {
  width: clamp(130px, 15vw, 150px);
}

#horloge {
  font-family: 'Chivo', sans-serif;
  color: black;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  position: absolute;
  right: 30px;
}

/* Responsive */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #horloge {
    position: static;
  }
}

/* Fin du Responsive */
main {
  padding: 0.5em;
}

.conteneurHorairesCampus{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.heureOuverture{
  color:#e94e39;
  font-family: 'Chivo', sans-serif;
  font-size: 0.8rem;
}

.heureFermeture{
  color:#e94e39;
  font-family: 'Chivo', sans-serif;
  font-size: 0.8rem;
}

#progressContainer {
  width: 100%;
  height: 28px;
  background-color: #faeded;
  border-radius: 5px;
  overflow: hidden;
  /* position: relative; */
  margin-bottom: 1em;
}

#progressBar {
  width: 0%;
  height: 28px;
  background: linear-gradient(220deg, #fdd8d0,#e94e39);
  transition: width 1s ease 0s;
}

/* Footer */

footer {
  background-color: #fdd8d0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

#messageAccueil {
  font-family: 'Borel';
  font-size: 14px;
  text-align: center;
  padding-top:0.3em;
}
