* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    background-color: #fdd8d0;
    padding: 30px;
}

#date {
    font-size: 1.3rem;
    font-family: 'Chivo', sans-serif;
}

#logoAda {
  width: 150px;
}


#horloge {
    display: flex;
    font-family: 'Chivo', sans-serif;
    color: black;
    border-radius: 15px;
    width: auto;
    font-size: 1.3rem;
    justify-content: right;
}


#progressContainer {
  width: 100%;
  height: 15px;
  background-color: #CCCCCC;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
#progressBar {
  width: 0%;
  height: 20px;
  background: linear-gradient(223deg, rgba(26,117,255,1) 0%, rgba(80,202,215,1) 100%);
  transition: width 2s ease 0s;
  }
.percentage {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  padding-right: 5px;
}