* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  background-color: #fdd8d0;
  padding: 30px;
  position: relative;
  text-align: center;
}

#date {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  font-family: 'Chivo', sans-serif;
}

#logoAda {
  width: clamp(130px, 15vw, 150px);
}

#horloge {
  font-family: 'Chivo', sans-serif;
  color: black;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  position: absolute;
  right: 30px;
}

/* Responsive */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #horloge {
    position: static;
  }
}

/* Fin du Responsive */


#progressContainer {
  width: 100%;
  height: 15px;
  background-color: #CCCCCC;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
#progressBar {
  width: 0%;
  height: 20px;
  background: linear-gradient(223deg, rgba(26,117,255,1) 0%, rgba(80,202,215,1) 100%);
  transition: width 2s ease 0s;
  }
.percentage {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  padding-right: 5px;
}


/* Footer */

footer {
  background-color: #fdd8d0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}
